[Unit]
Description=Airflow scheduler (cctnsv1_daily_etl)
After=network.target postgresql.service

[Service]
User=tganb
Environment=AIRFLOW_HOME=/home/tganb/cctnsv1_daily_etl/airflow_home
Environment=AIRFLOW__CORE__DAGS_FOLDER=/home/tganb/cctnsv1_daily_etl/dags
Environment=AIRFLOW__CORE__LOAD_EXAMPLES=False
WorkingDirectory=/home/tganb/cctnsv1_daily_etl
ExecStart=/home/tganb/cctnsv1_daily_etl/venv/bin/airflow scheduler
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
